html,
body {
  height: 100%;
  margin: 0;
}
/* ------------------------ Navbar ------------------------ */
.navbar {
  padding: 0.25rem 1rem 0.25rem 1rem;
  display: flex;
  margin: 0 auto 0 auto;
}

.navbar-main-div {
  display: flex;
}

.navbar-logo {
  height: 3.5rem;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  padding-left: 20px;
}

.lanugage {
  border: none;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 6px 15px 0 0;
  border-radius: 50%;
  background: transparent;
}

.lanugage-img {
  height: 100%;
  width: 100%;
}

.drop-button {
  text-decoration: none;
  background-color: white;
  color: #59595c;
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: rgb(192, 182, 182, 0) ;
}

.drop-button -link {
  background-color: white;
  border: none;
}

.no-dropdown-button {
  text-decoration: none;
  color: #59595c;
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
}
.no-dropdown-button:hover {
  text-decoration: none;
  color: #016938;
}

.dropdown {
  position: relative;
  display: list-item;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  font-weight: 600;
  box-shadow: 0 0px 5px 0px rgb(1, 105, 56, 0.9);
  z-index: 1;
}

.dropdown-content a {
  color: #59595c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: #016938;
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  color: #016938;
}

/* ------------------------ Popup ------------------------ */
.popup {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.popup-bg {
  background: #0008;
  height: 100vh;
  width: 100%;
  background: gray;
  opacity: 0.5;
}

.popup-inner {
  margin: 0 25%;
  position: absolute;
  height: 66.666667%;
  width: 951.5px;
  padding: 0.75rem;
  background: #e3faff;
  border-width: 1px;
  border-color: black;
}

.popup-img {
  width: 100%;
  margin: auto;
}

.popup-input {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 50%;
  height: 2.5rem;
  padding: 0 0.75rem 0 0.75rem;
  margin: 3.5rem auto 0 auto;
}

.popup-subscribe {
  display: block;
  width: 50%;
  height: 2.5rem;
  margin: 1.5rem auto 0 auto;
  padding: 0 0.75rem 0 0.75rem;
  color: white;
  letter-spacing: 0.025em;
  font-weight: 600;
  border-width: 0;
  border-radius: 0.5rem;
}

.popup-close-button {
  display: block;
  background: #e3faff;
  margin: 1.5rem auto 0 auto;
  text-decoration: underline;
  border: none;
}

/* ------------------------ Hero ------------------------ */
.hero {
  position: relative;
  display: flex;
  height: 24rem;
}

.hero-left-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  color: rgb(145, 255, 142);
  padding: 0 2% 0 2%;
}

.hero-left-div-h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

.hero-left-div-img {
  width: 20%;
  box-shadow: 0 0 50px 0px white, white 0px 0px 60px 5px inset;
  border-radius: 50%;
}

.buttons-div {
  margin: 1.25rem 0 0 0;
}

.hero-buttons {
  background: #016938;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  color: white;
}

.hero-buttons:hover {
  text-decoration: none;
  color: rgb(150, 255, 255);
  cursor: pointer;
}

.hero-background-div {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-bg-img {
  object-fit: cover;
  height: 100%;
  width: 97%;
  margin: 0 1% 0 1%;
}

/* ------------------------ What you get ------------------------ */

.what-you-get {
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
}

.main-div-what-you-get {
  display: flex;
}

.card-div-what-you-get {
  text-align: center;
  flex: 1;
}

.h5-card-what-you-get {
  margin: 0.5rem 0 0.5rem 0;
}

.p-card-what-you-get {
  background: rgb(192, 214, 255);
  border-radius: 1rem;
  padding: 15px 20px 15px 20px;
  /* margin: auto 0 auto 0; */
}

/* ------------------------ Pricing ------------------------ */
.pricing {
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
  margin-bottom: 120px;
}

.main-div-pricing {
  display: flex;
}

.card-pricing {
  flex: 1;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  padding: 1.75rem 0 1.75rem 0;
}

.price-per-month {
  font-weight: 600;
}

.select-subscription {
  display: block;
  background: #016938;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0.75rem 2.25rem 0.75rem 2.25rem;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.select-subscription:hover {
  text-decoration: none;
  color: rgb(150, 255, 255);
  cursor: pointer;
}

.empty-p {
  margin: 0.75rem 0 0 0;
  padding: 1.5rem 0 0 0;
}

.p-non-refundable {
  margin: 0.75rem 0 0 0;
  font-weight: 500;
  color: rgb(179, 179, 179);
}

/* ------------------------ Testimonials ------------------------ */
.testimonials {
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
}

.main-div-testimonials {
  display: flex;
}

.card-div-testimonials {
  text-align: center;
  flex: 1;
}
/* ------------------------ Benefits ------------------------ */
.benefits {
  margin-bottom: 85px;
}

.header-div {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 1.5rem 0;
  text-align: center;
}

.h1-benefits {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2.5rem 0 0 0;
}

.text-header-benefits {
  width: 35%;
  margin: 0 auto;
  padding: 0 0 5px 0;
}

.features-benefits {
  display: flex;
  flex-wrap: wrap;
}

.card-benefits {
  display: flex;
  width: 50%;
  padding: 15px 20px 15px 20px;
}

.img-div {
  margin: auto 22px auto 0;
}

.card-content span {
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.card-content h4 {
  margin-bottom: 15px;
}

.card-content p {
  color: rgb(68, 68, 68);
}

/* ------------------------ Footer ------------------------ */

.footer {
  display: flex;
  padding: 2rem 18% 2rem 18%;
  background: black;
}
.left-side-footer {
  width: 50%;
  padding: 0 0 0 15%;
  text-align: center;
  filter: invert(49%) sepia(22%) saturate(15%) hue-rotate(327deg)
    brightness(91%) contrast(92%);
  border-right: 1px solid #282828;
}

.social-medias {
  padding: 20px 0 0 0;
}

.right-side-footer {
  width: 50%;
  color: #787878;
  text-align: center;
  border-left: 1px solid #282828;
}

.footer-input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 66.66%;
  height: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.bg-color-green {
  background: #016938;
}

.bg-color-gray {
  background: #59595c;
}

/* -------------------------- Blog -------------------------- */

.blog {
  min-height: 100%;
}

/* The underline on the h1s  */
.h1s {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2.5rem 0 2.5rem 0;
}

.after-h1::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background: #016938;
  margin: 5px auto 0 auto;
}

.space-x-1 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-x-reverse)));
}

.space-x-4 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(1rem * var(--space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--space-x-reverse)));
}

.space-x-8 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(2rem * var(--space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--space-x-reverse)));
}

.space-x-20 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(5rem * var(--space-x-reverse));
  margin-left: calc(5rem * calc(1 - var(--space-x-reverse)));
}

.space-x-24 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(6rem * var(--space-x-reverse));
  margin-left: calc(6rem * calc(1 - var(--space-x-reverse)));
}
