/* @media screen and (min-width:1024px){
    .hero-section {
        display: flex;
    }
}
 */

.bg-color-green {
  background: #016938;
}

.bg-color-gray {
  background: #59595c;
}

.pop-up-bg {
  background: #0008;
}

.after-h1::after {
    content: "";
    display: block;
    width: 10%;
    height: 3px;
    background: #016938;
    margin: 5px auto 0 auto;
}
