/* @media screen and (min-width:1024px){
    .hero-section {
        display: flex;
    }
}
 */

/* ------------------------ Navbar ------------------------ */
.navbar {
  padding: 0.25rem 1rem 0.25rem 1rem;
  display: flex;
}

.navbar-main-div {
  display: flex;
}

.navbar-logo {
  height: 3.5rem;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  padding-left: 20px;
}

.navbar-button {
  text-align: center;
  margin: auto;
  font-weight: 700;
  color: white;
}

.navbar-button:hover {
  text-decoration: none;
  color: rgb(150, 255, 255);
  cursor: pointer;
}

/* ------------------------ Popup ------------------------ */

.popup {
  background: #0008;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: absolute;
  background: gray;
}

.popup-inner {
  height: 66.666667%;
  width: 50%;
  padding: 0.75rem;
  margin: auto;
  background: #e3faff;
  border-width: 1px;
  border-color: black;
}

.popup-img {
  width: 100%;
  margin: auto;
}

.popup-input {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 50%;
  height: 2.5rem;
  padding: 0 0.75rem 0 0.75rem;
  margin: 3.5rem auto 0 auto;
}

.popup-subscribe {
  display: block;
  width: 50%;
  height: 2.5rem;
  margin: 1.5rem auto 0 auto;
  padding: 0 0.75rem 0 0.75rem;
  color: white;
  letter-spacing: 0.025em;
  font-weight: 600;
  border-width: 0;
  border-radius: 0.5rem;
}

.popup-close-button {
  display: block;
  background: #e3faff;
  margin: 1.5rem auto 0 auto;
  text-decoration: underline;
  border: none;
}

/* ------------------------ Hero ------------------------ */

.hero {
  display: flex;
  height: 24rem;
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
}

.hero-left-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 0 auto 0;
  text-align: center;
  padding: 0 2% 0 2%;
}

.hero-left-div-h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

.hero-left-div-img {
  display: inline-block;
  height: 6rem;
  margin: 0 0 0.25rem 0;
}

.buttons-div {
  margin: 1.25rem 0 0 0;
}

.hero-buttons {
  background: #016938;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  color: white;
}

.hero-buttons:hover {
  text-decoration: none;
  color: rgb(150, 255, 255);
  cursor: pointer;
}

.hero-right-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  background: gray;
}

/* ------------------------ What you get ------------------------ */

.what-you-get {
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
}

.main-div-what-you-get {
  display: flex;
}

.card-div-what-you-get {
  text-align: center;
  flex: 1;
}

.h5-card-what-you-get {
  margin: 0.5rem 0 0.5rem 0;
}

.p-card-what-you-get {
  background: rgb(192, 214, 255);
  border-radius: 1rem;
  padding: 15px 20px 15px 20px;
  /* margin: auto 0 auto 0; */
}

/* ------------------------ Pricing ------------------------ */

.pricing {
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
}

.main-div-pricing {
  display: flex;
}

.card-pricing {
  flex: 1;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  padding: 1.75rem 0 1.75rem 0;
}

.price-per-month {
  font-weight: 600;
}

.select-subscription {
  display: block;
  background: #016938;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0.75rem 2.25rem 0.75rem 2.25rem;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.select-subscription:hover {
  text-decoration: none;
  color: rgb(150, 255, 255);
  cursor: pointer;
}

.empty-p {
  margin: 0.75rem 0 0 0;
  padding: 1.5rem 0 0 0;
}

.p-non-refundable {
  margin: 0.75rem 0 0 0;
  font-weight: 500;
  color: rgb(179, 179, 179);
}

/* ------------------------ Testimonials ------------------------ */
.testimonials {
  padding: 1.5rem 0 1.5rem 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(196, 194, 194);
}

.main-div-testimonials {
  display: flex;
}

.card-div-testimonials {
  text-align: center;
  flex: 1;
}













.bg-color-green {
  background: #016938;
}

.bg-color-gray {
  background: #59595c;
}

.h1s {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2.5rem 0 2.5rem 0;
}

.after-h1::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background: #016938;
  margin: 5px auto 0 auto;
}

.space-x-4 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(1rem * var(--space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--space-x-reverse)));
}

.space-x-20 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(5rem * var(--space-x-reverse));
  margin-left: calc(5rem * calc(1 - var(--space-x-reverse)));
}

.space-x-24 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(6rem * var(--space-x-reverse));
  margin-left: calc(6rem * calc(1 - var(--space-x-reverse)));
}
